.zoom {
  padding: 2%;
  transition: transform .2s;
  /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: inline-block
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

img {
  width: 100%;
  height: 100%;
}

#container {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  /* half of #content height*/
  left: 0;
  width: 100%;
}

#content {
  text-align: center;
}

body {
  background-image: url("back.png");
  background-color: #ffcccc;
}
